.MainContainer {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  display: flex;
  color: aliceblue;
  overflow-y: auto;
}

.Sidebar {
  width: 150px;
  height: 100%;
  background-color: #2c2c2c ;
}

.Sidebar_Item {
  padding: 1rem;
  background-color: #0492a5 ;
}

.Sidebar_Item:hover {
  padding: 1rem;
  background-color: #02bbd5 ;
}

.ContentContainer {
  padding: 1rem;
  display: flex;
}
.CodeEditorContainer{
  width: 500px;
  background: #000000;
  border: solid 2px white;
}
.ExecuteButtonContainer{
  margin-left: 12px;
  margin-right: 12px;
}
.OutputContainer{
  border: solid 2px white;
  width: 500PX;
  background-color: black;
}
